# **üß† An√°lise de Dados** ‚Äî estat√≠stica ‚Ä¢ visualiza√ß√£o ‚Ä¢ machine learning

### Importando o Pandas e o matplot lib para verifica√ß√£o dos dados

In [80]:
import pandas as pd 
import matplotlib.pyplot as plt

In [81]:
print(pd.__version__)

2.3.2

### Puxando os dados que ser√£so analisados

In [82]:
df = pd.read_csv('data/banco_agro_projeto.csv')

### Visualizando o Dataframe

In [83]:
df

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor
0,Caf√©,Cereal,466,277.0,2024-01-01,01/01/2024,NaN
1,Soja,Gr√£o,191,37.0,2024-01-02,02/01/2024,Pedro
2,Cana-de-a√ß√∫car,Gr√£o,indefinido,241.0,2024-01-03,03/01/2024,Fernanda
3,Arroz,Bebida,222,283.0,2024-01-04,04/01/2024,Carlos
4,Arroz,Bebida,370,432.0,2024-01-05,05/01/2024,Patr√≠cia
...,...,...,...,...,...,...,...
1995,Arroz,Cereal,493,336.0,2029-06-18,18/06/2029,Patr√≠cia
1996,Cana-de-a√ß√∫car,Fibra,457,385.0,2029-06-19,19/06/2029,Ana
1997,Algod√£o,Fibra,316,276.0,2029-06-20,20/06/2029,Maria
1998,Trigo,Gr√£o,65,319.0,2029-06-21,21/06/2029,Jo√£o
1999,Milho,Fibra,982,403.0,2029-06-22,22/06/2029,Ricardo

### Comando b√°sicos de checagem de tabela

In [84]:
df.head(5) #`df.head()` -> mostra os primeiros registros da tabela

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor
0,Caf√©,Cereal,466,277.0,2024-01-01,01/01/2024,NaN
1,Soja,Gr√£o,191,37.0,2024-01-02,02/01/2024,Pedro
2,Cana-de-a√ß√∫car,Gr√£o,indefinido,241.0,2024-01-03,03/01/2024,Fernanda
3,Arroz,Bebida,222,283.0,2024-01-04,04/01/2024,Carlos
4,Arroz,Bebida,370,432.0,2024-01-05,05/01/2024,Patr√≠cia

In [85]:
df.tail(5) #`df.tail()` -> mostra os √∫ltimos registros da tabela

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor
1995,Arroz,Cereal,493,336.0,2029-06-18,18/06/2029,Patr√≠cia
1996,Cana-de-a√ß√∫car,Fibra,457,385.0,2029-06-19,19/06/2029,Ana
1997,Algod√£o,Fibra,316,276.0,2029-06-20,20/06/2029,Maria
1998,Trigo,Gr√£o,65,319.0,2029-06-21,21/06/2029,Jo√£o
1999,Milho,Fibra,982,403.0,2029-06-22,22/06/2029,Ricardo

In [86]:
df.info() #`df.info()` -> informa√ß√µes sobre a tabela (colunas, tipo de dado, valores nulos)
# J√Å VERIFICAMOS QUE H√Å TABELAS EM TIPOS ERRADOS MAIS A FRENTE SER√Å FEITA A TRANSFORMA√á√ÉO PARA SEUS DEVIDOS TIPOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Produto         2000 non-null   object
 1   Categoria       2000 non-null   object
 2   Estoque         2000 non-null   object
 3   Vendidos        1848 non-null   float64
 4   Data_de_vendas  2000 non-null   object
 5   Data_venda      2000 non-null   object
 6   Vendedor        1868 non-null   object
dtypes: float64(1), object(6)
memory usage: 109.5+ KB

In [87]:
df['Vendidos'].describe() #`df.describe()` -> estat√≠sticas descritivas das colunas num√©ricas

count    1848.000000
mean      239.902056
std       141.805588
min         1.000000
25%       116.750000
50%       237.000000
75%       362.000000
max       499.000000
Name: Vendidos, dtype: float64

### Tratamentos e transforma√ß√£o de dados | Parte 1

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Produto         2000 non-null   object
 1   Categoria       2000 non-null   object
 2   Estoque         2000 non-null   object
 3   Vendidos        1848 non-null   float64
 4   Data_de_vendas  2000 non-null   object
 5   Data_venda      2000 non-null   object
 6   Vendedor        1868 non-null   object
dtypes: float64(1), object(6)
memory usage: 109.5+ KB

# Tipos de Dados (dtypes) no pandas

| dtype           | Exemplo                | Uso                        |
|-----------------|-----------------------|----------------------------|
| int64           | 10, -5                | N√∫meros inteiros           |
| float64         | 3.14, -0.5            | N√∫meros decimais           |
| bool            | True, False           | Valores l√≥gicos            |
| object          | "Python", "Ana"       | Texto ou dados mistos      |
| string          | "Python"              | Texto (mais moderno)       |
| datetime64[ns]  | 2025-08-24 17:00:00   | Datas e horas              |
| timedelta[ns]   | 5 days 12:30:00       | Diferen√ßa entre datas      |
| category        | "M", "F"              | Dados categ√≥ricos          |
| Int64           | 10, NaN               | Inteiros com valores nulos |

logo aqueles dados que n√£o est√£o em seu determinado tipo nos devemos os consertar
‚úÖ 0   Produto         | object <br>
‚úÖ 1   Categoria       | object <br>
‚ùå 2   Estoque         | object -> errado, seu tipo √© int64 <br>
‚ùå 3   Vendidos        | float64 -> float at√© funciona mas o int64 √© mais adequado <br>
‚ùå 4   Data_de_vendas  | object -> redundante o dados pois ja tem outro com data de vendas <br>
‚ùå 5   Data_venda      | object -> est√° errado pois seu tipo √© datetime <br>
‚úÖ 6   Vendedor        | object

In [89]:
df['Vendidos'] = pd.to_numeric(df['Vendidos'], errors='coerce')
df['Vendidos'] = df['Vendidos'].astype('Int64')
df['Vendidos'].astype  #Convers√£o para int64

<bound method NDFrame.astype of 0       277
1        37
2       241
3       283
4       432
       ...
1995    336
1996    385
1997    276
1998    319
1999    403
Name: Vendidos, Length: 2000, dtype: Int64>

In [90]:
df['Estoque'] = pd.to_numeric(df['Estoque'], errors='coerce')
df['Estoque'] = df['Estoque'].astype('Int64')
df['Estoque'].astype  #Convers√£o para int64

<bound method NDFrame.astype of 0        466
1        191
2       <NA>
3        222
4        370
        ...
1995     493
1996     457
1997     316
1998      65
1999     982
Name: Estoque, Length: 2000, dtype: Int64>

### Tratamentos e transforma√ß√£o de dados | Parte2

In [91]:
df['Data_de_vendas'] = pd.to_datetime(df['Data_de_vendas'], errors='coerce', dayfirst=False)
df['Data_venda'] = pd.to_datetime(df['Data_venda'], errors='coerce', dayfirst=True)

In [92]:
df['Data_venda'] = df['Data_venda'].fillna(df['Data_de_vendas'])
df['Data_de_vendas'] = df['Data_de_vendas'].fillna(df['Data_venda'])
# preenchi os dados faltantes de um tabela para a outra
df

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor
0,Caf√©,Cereal,466,277,2024-01-01,2024-01-01,NaN
1,Soja,Gr√£o,191,37,2024-01-02,2024-01-02,Pedro
2,Cana-de-a√ß√∫car,Gr√£o,<NA>,241,2024-01-03,2024-01-03,Fernanda
3,Arroz,Bebida,222,283,2024-01-04,2024-01-04,Carlos
4,Arroz,Bebida,370,432,2024-01-05,2024-01-05,Patr√≠cia
...,...,...,...,...,...,...,...
1995,Arroz,Cereal,493,336,2029-06-18,2029-06-18,Patr√≠cia
1996,Cana-de-a√ß√∫car,Fibra,457,385,2029-06-19,2029-06-19,Ana
1997,Algod√£o,Fibra,316,276,2029-06-20,2029-06-20,Maria
1998,Trigo,Gr√£o,65,319,2029-06-21,2029-06-21,Jo√£o
1999,Milho,Fibra,982,403,2029-06-22,2029-06-22,Ricardo