# **üß† An√°lise de Dados** ‚Äî estat√≠stica ‚Ä¢ visualiza√ß√£o ‚Ä¢ machine learning

### Importando o Pandas e o matplot lib para verifica√ß√£o dos dados

In [9]:
import pandas as pd 
import matplotlib.pyplot as plt

In [10]:
print(pd.__version__)

2.3.2

### Puxando os dados que ser√£so analisados

In [11]:
df = pd.read_csv('data/banco_agro_projeto.csv')

### Atualizando o Dataframe para termos os locais das compras

In [12]:
import random
import pandas as pd

# Lista de cidades e coordenadas no Brasil
cidades_brasil = [
    ("S√£o Paulo", -23.55052, -46.633308),
    ("Rio de Janeiro", -22.906847, -43.172896),
    ("Belo Horizonte", -19.924502, -43.935237),
    ("Curitiba", -25.428954, -49.267137),
    ("Porto Alegre", -30.034647, -51.217658),
    ("Salvador", -12.971399, -38.501305),
    ("Fortaleza", -3.71722, -38.5434),
    ("Bras√≠lia", -15.794229, -47.882166),
    ("Manaus", -3.10194, -60.025),
    ("Recife", -8.04756, -34.877)
]
# Adicionar coluna "localizacao" com cidade + latitude + longitude aleat√≥ria
df['localizacao'] = [random.choice(cidades_brasil) for _ in range(len(df))]

# Separar em colunas individuais para facilitar an√°lise
df[['cidade', 'latitude', 'longitude']] = pd.DataFrame(df['localizacao'].tolist(), index=df.index)

# Remover a coluna tempor√°ria
df.drop(columns=['localizacao'], inplace=True)

df.head()  # Exibir o resultado final com localiza√ß√£o adicionada

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor,cidade,latitude,longitude
0,Caf√©,Cereal,466,277.0,2024-01-01,01/01/2024,NaN,S√£o Paulo,-23.550520,-46.633308
1,Soja,Gr√£o,191,37.0,2024-01-02,02/01/2024,Pedro,Fortaleza,-3.717220,-38.543400
2,Cana-de-a√ß√∫car,Gr√£o,indefinido,241.0,2024-01-03,03/01/2024,Fernanda,Rio de Janeiro,-22.906847,-43.172896
3,Arroz,Bebida,222,283.0,2024-01-04,04/01/2024,Carlos,Curitiba,-25.428954,-49.267137
4,Arroz,Bebida,370,432.0,2024-01-05,05/01/2024,Patr√≠cia,S√£o Paulo,-23.550520,-46.633308

In [13]:
# Salvar o DataFrame atualizado em um novo arquivo CSV
df.to_csv('data/banco_agro_projeto.csv', index=False)

### Visualizando o Dataframe

In [14]:
df

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor,cidade,latitude,longitude
0,Caf√©,Cereal,466,277.0,2024-01-01,01/01/2024,NaN,S√£o Paulo,-23.550520,-46.633308
1,Soja,Gr√£o,191,37.0,2024-01-02,02/01/2024,Pedro,Fortaleza,-3.717220,-38.543400
2,Cana-de-a√ß√∫car,Gr√£o,indefinido,241.0,2024-01-03,03/01/2024,Fernanda,Rio de Janeiro,-22.906847,-43.172896
3,Arroz,Bebida,222,283.0,2024-01-04,04/01/2024,Carlos,Curitiba,-25.428954,-49.267137
4,Arroz,Bebida,370,432.0,2024-01-05,05/01/2024,Patr√≠cia,S√£o Paulo,-23.550520,-46.633308
...,...,...,...,...,...,...,...,...,...,...
1995,Arroz,Cereal,493,336.0,2029-06-18,18/06/2029,Patr√≠cia,Rio de Janeiro,-22.906847,-43.172896
1996,Cana-de-a√ß√∫car,Fibra,457,385.0,2029-06-19,19/06/2029,Ana,Salvador,-12.971399,-38.501305
1997,Algod√£o,Fibra,316,276.0,2029-06-20,20/06/2029,Maria,Porto Alegre,-30.034647,-51.217658
1998,Trigo,Gr√£o,65,319.0,2029-06-21,21/06/2029,Jo√£o,Fortaleza,-3.717220,-38.543400
1999,Milho,Fibra,982,403.0,2029-06-22,22/06/2029,Ricardo,Recife,-8.047560,-34.877000

### Comando b√°sicos de checagem de tabela

In [15]:
df.head(5) #`df.head()` -> mostra os primeiros registros da tabela

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor,cidade,latitude,longitude
0,Caf√©,Cereal,466,277.0,2024-01-01,01/01/2024,NaN,S√£o Paulo,-23.550520,-46.633308
1,Soja,Gr√£o,191,37.0,2024-01-02,02/01/2024,Pedro,Fortaleza,-3.717220,-38.543400
2,Cana-de-a√ß√∫car,Gr√£o,indefinido,241.0,2024-01-03,03/01/2024,Fernanda,Rio de Janeiro,-22.906847,-43.172896
3,Arroz,Bebida,222,283.0,2024-01-04,04/01/2024,Carlos,Curitiba,-25.428954,-49.267137
4,Arroz,Bebida,370,432.0,2024-01-05,05/01/2024,Patr√≠cia,S√£o Paulo,-23.550520,-46.633308

In [16]:
df.tail(5) #`df.tail()` -> mostra os √∫ltimos registros da tabela

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor,cidade,latitude,longitude
1995,Arroz,Cereal,493,336.0,2029-06-18,18/06/2029,Patr√≠cia,Rio de Janeiro,-22.906847,-43.172896
1996,Cana-de-a√ß√∫car,Fibra,457,385.0,2029-06-19,19/06/2029,Ana,Salvador,-12.971399,-38.501305
1997,Algod√£o,Fibra,316,276.0,2029-06-20,20/06/2029,Maria,Porto Alegre,-30.034647,-51.217658
1998,Trigo,Gr√£o,65,319.0,2029-06-21,21/06/2029,Jo√£o,Fortaleza,-3.717220,-38.543400
1999,Milho,Fibra,982,403.0,2029-06-22,22/06/2029,Ricardo,Recife,-8.047560,-34.877000

In [17]:
df.info() #`df.info()` -> informa√ß√µes sobre a tabela (colunas, tipo de dado, valores nulos)
# J√Å VERIFICAMOS QUE H√Å TABELAS EM TIPOS ERRADOS MAIS A FRENTE SER√Å FEITA A TRANSFORMA√á√ÉO PARA SEUS DEVIDOS TIPOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Produto         2000 non-null   object
 1   Categoria       2000 non-null   object
 2   Estoque         2000 non-null   object
 3   Vendidos        1848 non-null   float64
 4   Data_de_vendas  2000 non-null   object
 5   Data_venda      2000 non-null   object
 6   Vendedor        1868 non-null   object
 7   cidade          2000 non-null   object
 8   latitude        2000 non-null   float64
 9   longitude       2000 non-null   float64
dtypes: float64(3), object(7)
memory usage: 156.4+ KB

In [18]:
df['Vendidos'].describe() #`df.describe()` -> estat√≠sticas descritivas das colunas num√©ricas

count    1848.000000
mean      239.902056
std       141.805588
min         1.000000
25%       116.750000
50%       237.000000
75%       362.000000
max       499.000000
Name: Vendidos, dtype: float64

### Tratamentos e transforma√ß√£o de dados | Parte 1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Produto         2000 non-null   object
 1   Categoria       2000 non-null   object
 2   Estoque         2000 non-null   object
 3   Vendidos        1848 non-null   float64
 4   Data_de_vendas  2000 non-null   object
 5   Data_venda      2000 non-null   object
 6   Vendedor        1868 non-null   object
 7   cidade          2000 non-null   object
 8   latitude        2000 non-null   float64
 9   longitude       2000 non-null   float64
dtypes: float64(3), object(7)
memory usage: 156.4+ KB

# Tipos de Dados (dtypes) no pandas

| dtype           | Exemplo                | Uso                        |
|-----------------|-----------------------|----------------------------|
| int64           | 10, -5                | N√∫meros inteiros           |
| float64         | 3.14, -0.5            | N√∫meros decimais           |
| bool            | True, False           | Valores l√≥gicos            |
| object          | "Python", "Ana"       | Texto ou dados mistos      |
| string          | "Python"              | Texto (mais moderno)       |
| datetime64[ns]  | 2025-08-24 17:00:00   | Datas e horas              |
| timedelta[ns]   | 5 days 12:30:00       | Diferen√ßa entre datas      |
| category        | "M", "F"              | Dados categ√≥ricos          |
| Int64           | 10, NaN               | Inteiros com valores nulos |

logo aqueles dados que n√£o est√£o em seu determinado tipo nos devemos os consertar
‚úÖ 0   Produto         | object <br>
‚úÖ 1   Categoria       | object <br>
‚ùå 2   Estoque         | object -> errado, seu tipo √© int64 <br>
‚ùå 3   Vendidos        | float64 -> float at√© funciona mas o int64 √© mais adequado <br>
‚ùå 4   Data_de_vendas  | object -> redundante o dados pois ja tem outro com data de vendas <br>
‚ùå 5   Data_venda      | object -> est√° errado pois seu tipo √© datetime <br>
‚úÖ 6   Vendedor        | object

In [20]:
df['Vendidos'] = pd.to_numeric(df['Vendidos'], errors='coerce')
df['Vendidos'] = df['Vendidos'].astype('Int64')
df['Vendidos'].astype  #Convers√£o para int64

<bound method NDFrame.astype of 0       277
1        37
2       241
3       283
4       432
       ...
1995    336
1996    385
1997    276
1998    319
1999    403
Name: Vendidos, Length: 2000, dtype: Int64>

In [21]:
df['Estoque'] = pd.to_numeric(df['Estoque'], errors='coerce')
df['Estoque'] = df['Estoque'].astype('Int64')
df['Estoque'].astype  #Convers√£o para int64

<bound method NDFrame.astype of 0        466
1        191
2       <NA>
3        222
4        370
        ...
1995     493
1996     457
1997     316
1998      65
1999     982
Name: Estoque, Length: 2000, dtype: Int64>

### Tratamentos e transforma√ß√£o de dados | Parte2

In [22]:
df['Data_de_vendas'] = pd.to_datetime(df['Data_de_vendas'], errors='coerce', dayfirst=False)
df['Data_venda'] = pd.to_datetime(df['Data_venda'], errors='coerce', dayfirst=True)

In [23]:
df['Data_venda'] = df['Data_venda'].fillna(df['Data_de_vendas'])
df['Data_de_vendas'] = df['Data_de_vendas'].fillna(df['Data_venda'])
# preenchi os dados faltantes de um tabela para a outra
df

,Produto,Categoria,Estoque,Vendidos,Data_de_vendas,Data_venda,Vendedor,cidade,latitude,longitude
0,Caf√©,Cereal,466,277,2024-01-01,2024-01-01,NaN,S√£o Paulo,-23.550520,-46.633308
1,Soja,Gr√£o,191,37,2024-01-02,2024-01-02,Pedro,Fortaleza,-3.717220,-38.543400
2,Cana-de-a√ß√∫car,Gr√£o,<NA>,241,2024-01-03,2024-01-03,Fernanda,Rio de Janeiro,-22.906847,-43.172896
3,Arroz,Bebida,222,283,2024-01-04,2024-01-04,Carlos,Curitiba,-25.428954,-49.267137
4,Arroz,Bebida,370,432,2024-01-05,2024-01-05,Patr√≠cia,S√£o Paulo,-23.550520,-46.633308
...,...,...,...,...,...,...,...,...,...,...
1995,Arroz,Cereal,493,336,2029-06-18,2029-06-18,Patr√≠cia,Rio de Janeiro,-22.906847,-43.172896
1996,Cana-de-a√ß√∫car,Fibra,457,385,2029-06-19,2029-06-19,Ana,Salvador,-12.971399,-38.501305
1997,Algod√£o,Fibra,316,276,2029-06-20,2029-06-20,Maria,Porto Alegre,-30.034647,-51.217658
1998,Trigo,Gr√£o,65,319,2029-06-21,2029-06-21,Jo√£o,Fortaleza,-3.717220,-38.543400
1999,Milho,Fibra,982,403,2029-06-22,2029-06-22,Ricardo,Recife,-8.047560,-34.877000